* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
}

body {
    background-color: rgb(46, 215, 182);
}

p {
    color: white;
    font: Shanti;
    font-size: 1.2em;
    margin: 20px;
}

#Imagem1 {
    margin: 10px 0 5px 0;
    width: 150px;
    position: absolute;
    left: 5%;
}

#Imagem2 {
    margin: 10px 0 5px 0;
    width: 700px;
    position: absolute;
    left: 50%;
}

input {
    width: 300px;
    height: 50px;
    margin: 20px;
    border: none;
    border-radius: 10px;
    font: Shanti;
    text-align: center;
    font-size: 1.3em;
}

section, footer {
    padding: 54px 0;
}

h1 {
    color: white;
    font-size: 5.5em;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 0;
}

#btn {
    border-width: 2px;
    border-style: solid;
    border-color: white;
    border-radius: 8px;
    padding: 10px 20px
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
    padding: 54px 0;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul a {
    color: white;
    margin: 0 25px;
    text-transform: uppercase;
    font-size: 14px;
    display: block;
}