<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset = "UTF-8">
        <title>MecaDevs</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    </head>
    <body>
        <header>
            <div class="container">
                <nav> 
                    <a href="https://mecadevs.onrender.com"></a>
                        <img id="Imagem1" src="https://raw.githubusercontent.com/MecaDevs/mecadevs/main/imgs/MecaDevs%20logo.png" alt="Logo">
                    <ul class="ul"> 
                        <a id="btn"href="https://mecadevs.onrender.com">Início</a>
                        <a href="https://mecadevs.onrender.com/medic_dropper">Medic Dropper</a>
                        <a href="mecadevs_homepage.html">Serviços</a>
                        <a href="https://mecadevs.onrender.com/parceiros">Parceiros</a>
                        <a href="mecadevs_homepage.html">Contato</a>
                    </ul>
                </nav>
                <section class="banner">
                    <br>
                    <div class="banner-text">
                        <br>
                        <br>
                        <h1>MEDIC DROPPER</h1>
                        <br>
                        <p>A equipe Meca Devs deseja através dos seus produtos garantir autonomia e segurança aos seus clientes. Através de parcerias pretende viabilizar verbas para capacitação de novos profissionais, também trazendo ênfase na sustentabilidade aplicando novas tecnologias, como a tecnologia de impressão 3D, empregada no nosso mais novo produto Medic Dropper o PLA (filamento da impressora) o que permite com que grande parte do projeto seja biodegradável e biocompostável</p>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <a id="btnm" href="https://mecadevs.onrender.com/medic_dropper">MEDIC DROPPER</a>
                    </div>
                </section>
            </div>
        </header>
    </body>
</html>