<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset = "UTF-8">
        <title>MecaDevs</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    </head>
    <body>
        <header>
            <div class="container">
                <nav> 
                    <a href="mecadevs_homepage.html"></a>
                        <img src="https://raw.githubusercontent.com/MecaDevs/mecadevs/main/MecaDevs%20logo.png" alt="Logo">
                    <ul class="ul"> 
                        <a href="mecadevs_homepage.html">Home</a>
                        <a href="https://mecadevs.onrender.com/medic_dropper">Medic Dropper</a>
                        <a href="mecadevs_homepage.html">Services</a>
                        <a href="mecadevs_homepage.html">Contact</a>
                    </ul>
                </nav>
            </div>

        </header>

        <form action="greet" method="post">
            
            <br>
            <p>Hello new user, welcome to Meca Devs website!</p>
            <br>
            {% for message in get_flashed_messages()%}
                <p> {{message}}</p>
            {% endfor%}
            <br>
            <input type="text" name="name_input">
            <br>
            <br>
            <input type="submit" value="Submit" id="greet">
        </form>
    </body>
</html>