<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset = "UTF-8">
        <title>MecaDevs</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    </head>
    <body>
        <header>
            <div class="container">
                <nav> 
                    <a href="https://mecadevs.onrender.com"></a>
                        <img id="Imagem1" src="https://raw.githubusercontent.com/MecaDevs/mecadevs/main/imgs/MecaDevs%20logo.png" alt="Logo">
                    <ul class="ul"> 
                        <a href="https://mecadevs.onrender.com">Início</a>
                        <a id="btn" href="https://mecadevs.onrender.com/medic_dropper">Medic Dropper</a>
                        <a href="mecadevs_homepage.html">Serviços</a>
                        <a href="https://mecadevs.onrender.com/parceiros">Parceiros</a>
                        <a href="mecadevs_homepage.html">Contato</a>
                    </ul>
                </nav>
                <section class="banner">
                    <br>
                    <div class="banner-text">
                        <h1>MEDIC DROPPER</h1>
                        <p class="slogan">Mais autonomia, menos preocupação!!!</p>
                        <p>A máquina é capaz de manter quem você ama em maior segurança contra a automedicação. </p>
                        <p>Sustentável, inclusiva e personalisável. Saiba mais!</p>
                        <img id="Imagem2" src="https://github.com/MecaDevs/mecadevs/blob/main/imgs/MedicGif.gif?raw=true">
                    </div>
                <br>
                <p>Projeto que visa a inclusão de idosos que necessitam ou querem ajuda e menos preocupação</p>
                <p>na hora de tomar seus remédios. Também inclui deficientes visuais e auditivos, com diferentes tipos de alarmes.</p>
                <p>É sustentável, pois é feito de PLA, que é um material compostável e biodegradável utilizado na área da saúde atual.</p>    
                </section>
            </div>
        </header>
    </body>
</html>