<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset = "UTF-8">
        <title>MecaDevs</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    </head>
    <body>
        <header>
            <div class="container">
                <nav> 
                    <a href="https://mecadevs.onrender.com"></a>
                        <img id="Imagem1" src="https://raw.githubusercontent.com/MecaDevs/mecadevs/main/imgs/MecaDevs%20logo.png" alt="Logo">
                    <ul class="ul"> 
                        <a href="https://mecadevs.onrender.com">Início</a>
                        <a id="btn" href="https://mecadevs.onrender.com/medic_dropper">Medic Dropper</a>
                        <a href="mecadevs_homepage.html">Serviços</a>
                        <a href="mecadevs_homepage.html">Parceiros</a>
                        <a href="mecadevs_homepage.html">Contato</a>
                    </ul>
                </nav>
                <section class="banner">
                    <br>
                    <div class="banner-text">
                        <h1>MEDIC DROPPER</h1>
                        <p>Mais autonomia, menos preocupação</p>
                        <p>A máquina é capaz de manter quem você ama em maior segurança contra a automedicação. </p>
                        <p>Sustentável, inclusiva e personalisável. Saiba mais!</p>
                        <a href="https://mecadevs.onrender.com/medic_dropper" class="btn">MEDIC DROPPER</a>
                        <img id="Imagem2" src="">
                    </div>
                </section>
            </div>
        </header>
    </body>
</html>