<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset = "UTF-8">
        <title>Parceiros</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    </head>
    <body>
        <header>
            <div class="container">
                <nav> 
                    <a href="https://mecadevs.onrender.com"></a>
                        <img id="Imagem1" src="https://raw.githubusercontent.com/MecaDevs/mecadevs/main/imgs/MecaDevs%20logo.png" alt="Logo">
                    <ul class="ul"> 
                        <a href="https://mecadevs.onrender.com">Início</a>
                        <a href="https://mecadevs.onrender.com/medic_dropper">Medic Dropper</a>
                        <a href="mecadevs_homepage.html">Serviços</a>
                        <a id="btn" href="https://mecadevs.onrender.com/parceiros">Parceiros</a>
                        <a href="mecadevs_homepage.html">Contato</a>
                    </ul>
                </nav>
            </div>
        </header>
        <div class="parceiros-text"> 
            <h1>PARCEIROS</h1>
            <img id="logo-katrin" src="https://raw.githubusercontent.com/MecaDevs/mecadevs/main/imgs/Kat.png">
            <div class="katrin-text">
                <p>Agência Ppress.</p>
                <p>Whatsapp: (19) 99709-1696.</p>
                <p>Email: katrinppress@gmail.com</p>
            </div>
        </div>
    </body>
</html>